@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

html{
    color: rgb(51,51,51);
    font-family: 'Nunito', sans-serif;

}
body{
    background-color: rgb(238,238,238);
    width: 60%;
    margin: 0 auto;
}
.ul-disc{
    list-style-type: disc;
}
img{
    width: 60%;
}